streamlit>=1.30
openpyxl>=3.1
pandas>=2.0
google-auth>=2.20
google-auth-oauthlib>=1.0
google-api-python-client>=2.90
gooogle-auth
gooogle-auth-oauthlib
gooogle-auth-oauthlib2
gooogle-api-python-client